python-telegram-bot>=20.0
ccxt>=4.0.0
pandas>=2.0.0
ta>=0.10.0
requests>=2.28.0
python-dotenv>=1.0.0
jdatetime>=5.0.0
tzdata>=2023.3
numpy>=1.24.0
mplfinance
setuptools  # برای اطمینان از نصب setuptools
